{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <h2>
                    AS
                </h2>
            </div>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>

        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 Abu Shaid. All rights reserved.</p>
        </div>
    </footer>

    <script>
        const text = "Fresher Django Enthusiast";
        const typing = document.getElementById("typing-text");
        let i = 0;

        function typeEffect() {
            if (i < text.length) {
                typing.innerHTML += text.charAt(i);
                i++;
                setTimeout(typeEffect, 100);
            }
        }

        window.onload = typeEffect;
    </script>

</body>

</html>